In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
crime_dataset = pd.read_csv("./US_Crime_Rate_2016.csv")
crime_dataset.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape1,Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson2
0,New York,8379043.0,47821.0,319.0,2770.0,13396.0,31336.0,122299.0,9846.0,106931.0,5522.0,NaN
1,Los Angeles,8379043.0,29400.0,258.0,2274.0,9652.0,17216.0,95704.0,13809.0,66253.0,15642.0,1672.0
2,Chicago,8379043.0,25532.0,492.0,1761.0,7983.0,15296.0,80742.0,9578.0,62083.0,9081.0,416.0
3,Houston,8379043.0,25257.0,275.0,1249.0,9147.0,14586.0,101750.0,17038.0,71614.0,13098.0,485.0
4,Detroit,8379043.0,13040.0,275.0,952.0,2346.0,9467.0,28550.0,6820.0,14844.0,6886.0,789.0

In [3]:
crime_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8105 entries, 0 to 8104
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  8105 non-null   object
 1   Population                            8103 non-null   float64
 2   Violent crime                         8084 non-null   float64
 3   Murder and nonnegligent manslaughter  8102 non-null   float64
 4   Rape1                                 8090 non-null   float64
 5   Robbery                               8104 non-null   float64
 6   Aggravated assault                    8103 non-null   float64
 7   Property crime                        8082 non-null   float64
 8   Burglary                              8092 non-null   float64
 9   Larceny-theft                         8098 non-null   float64
 10  Motor vehicle theft                   8102 non-null   float64
 11  Arson2                                7979 non-null   float64
dtypes: float64(11), object(1)
memory usage: 760.0+ KB

In [4]:
crime_dataset.dropna(inplace=True)

In [5]:
crime_dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7937 entries, 1 to 8083
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  7937 non-null   object
 1   Population                            7937 non-null   float64
 2   Violent crime                         7937 non-null   float64
 3   Murder and nonnegligent manslaughter  7937 non-null   float64
 4   Rape1                                 7937 non-null   float64
 5   Robbery                               7937 non-null   float64
 6   Aggravated assault                    7937 non-null   float64
 7   Property crime                        7937 non-null   float64
 8   Burglary                              7937 non-null   float64
 9   Larceny-theft                         7937 non-null   float64
 10  Motor vehicle theft                   7937 non-null   float64
 11  Arson2                                7937 non-null   float64
dtypes: float64(11), object(1)
memory usage: 806.1+ KB

In [6]:
crime_dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
Population,7937.0,7.182187e+06,2.931657e+06,5.0,8379043.0,8379043.0,8379043.0,8379043.0
Violent crime,7937.0,9.609223e+01,7.105056e+02,0.0,2.0,10.0,37.0,29400.0
Murder and nonnegligent manslaughter,7937.0,1.237369e+00,1.076603e+01,0.0,0.0,0.0,0.0,492.0
Rape1,7937.0,1.041729e+01,5.693671e+01,0.0,0.0,2.0,6.0,2274.0
Robbery,7937.0,2.305783e+01,2.205844e+02,0.0,0.0,1.0,5.0,9652.0
Aggravated assault,7937.0,6.137974e+01,4.368741e+02,0.0,1.0,6.0,24.0,17216.0
Property crime,7937.0,5.546392e+02,2.898715e+03,0.0,22.0,83.0,326.0,101750.0
Burglary,7937.0,8.377258e+01,4.609848e+02,0.0,3.0,12.0,46.0,17038.0
Larceny-theft,7937.0,4.109727e+02,2.067731e+03,0.0,16.0,63.0,254.0,71614.0
Motor vehicle theft,7937.0,5.989391e+01,4.103550e+02,0.0,1.0,5.0,20.0,15642.0
Arson2,7937.0,2.996598e+00,2.570568e+01,0.0,0.0,0.0,1.0,1672.0

In [7]:
subdata=crime_dataset[['City','Population','Violent crime']]
subdata.head()

          City  Population  Violent crime
1  Los Angeles   8379043.0        29400.0
2      Chicago   8379043.0        25532.0
3      Houston   8379043.0        25257.0
4      Detroit   8379043.0        13040.0
5      Memphis   8379043.0        12367.0

In [8]:
subdata.City.unique()

array(['Los Angeles', 'Chicago', 'Houston', ..., 'Greybull', 'Hanna',
       'Lander'], dtype=object)

In [9]:
from sklearn.preprocessing import LabelEncoder

In [10]:
le = LabelEncoder()

In [11]:
subdata.iloc[:,0]=le.fit_transform(subdata.iloc[:,0])

In [12]:
subdata.head(10)

    City  Population  Violent crime
1   3182   8379043.0        29400.0
2    992   8379043.0        25532.0
3   2566   8379043.0        25257.0
4   1407   8379043.0        13040.0
5   3467   8379043.0        12367.0
6   4374   8379043.0        11803.0
7   1299   8379043.0        11764.0
8    254   8379043.0        11101.0
9   4906   8379043.0        11046.0
10  3014   8379043.0         8854.0

In [13]:
x = subdata.iloc[:,:-1]
y = subdata.iloc[:,-1]

In [14]:
x.head()

   City  Population
1  3182   8379043.0
2   992   8379043.0
3  2566   8379043.0
4  1407   8379043.0
5  3467   8379043.0

In [15]:
y.head()

1    29400.0
2    25532.0
3    25257.0
4    13040.0
5    12367.0
Name: Violent crime, dtype: float64

In [16]:
# SPLITTING THE DATASET INTO TRAINING AND TESTING DATA SETS
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=2)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
regressor = LinearRegression()

In [20]:
regressor.fit(x_train,y_train)

LinearRegression()

In [21]:
y_pred = regressor.predict(x_test)

In [22]:
y_pred

array([120.26988665,   3.72941325, 111.7244329 , ..., 115.52500305,
       114.98173137, 108.46247115])

In [23]:
pd.DataFrame(
{
    'ACTUAL':y_test,
    'PREDICTED':y_pred
})

      ACTUAL   PREDICTED
760    147.0  120.269887
6969     1.0    3.729413
2465    27.0  111.724433
4566     7.0  115.863091
680    169.0  119.486456
...      ...         ...
7302     0.0   -0.565227
4526     7.0  113.731973
5514     4.0  115.525003
704    162.0  114.981731
5864     3.0  108.462471

[1588 rows x 2 columns]

In [24]:
from sklearn import metrics

In [25]:
metrics.mean_absolute_error(y_test,y_pred)

129.17675550892895

In [26]:
metrics.r2_score(y_test,y_pred)

0.004175399510304323

# CLASSIFICATION IN MACHINE LEARNING

In [27]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [28]:
model.fit(x_train,y_train)

LogisticRegression()

In [29]:
model.predict(x_test)

array([2., 0., 1., ..., 1., 1., 1.])

In [30]:
Y_predict=model.predict(x_test)
print('Accuracy of logistic regression classifier on test set is:',((model.score(x_test,y_test)*100)))

Accuracy of logistic regression classifier on test set is: 16.183879093198993

In [31]:
# from sklearn.metrics import confusion_matrix
# import seaborn as sns
# confusion_matrix=confusion_matrix(y_test,Y_predict)
# plt.figure(figsize=(15,15))
# sns.heatmap(data=confusion_matrix,linewidths=.5, annot=True,square = True,  cmap = 'Blues')
# plt.ylabel('Actual label')
# plt.xlabel('Predicted label')
# all_sample_title = 'Accuracy Score: {0}'.format(model.score(x_test, y_test)*100)
# plt.title(all_sample_title, size = 15)
# print(confusion_matrix)

In [32]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)

In [33]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=3)

In [34]:
y_pred = knn.predict(x_test)

In [35]:
y_pred = knn.predict(x_test)
#import classification_report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

         0.0       0.88      0.95      0.92       210
         1.0       0.09      0.18      0.12       118
         2.0       0.08      0.18      0.11       104
         3.0       0.04      0.10      0.06        69
         4.0       0.05      0.13      0.08        52
         5.0       0.06      0.13      0.08        46
         6.0       0.06      0.07      0.06        60
         7.0       0.02      0.03      0.02        33
         8.0       0.08      0.16      0.10        32
         9.0       0.05      0.06      0.06        33
        10.0       0.08      0.08      0.08        36
        11.0       0.03      0.04      0.04        27
        12.0       0.00      0.00      0.00        27
        13.0       0.00      0.00      0.00        22
        14.0       0.00      0.00      0.00        23
        15.0       0.00      0.00      0.00        22
        16.0       0.00      0.00      0.00        28
        17.0       0.00      0.00      0.00        18
        18.0       0.00      0.00      0.00         8
        19.0       0.10      0.05      0.06        22
        20.0       0.00      0.00      0.00        21
        21.0       0.00      0.00      0.00        12
        22.0       0.00      0.00      0.00        15
        23.0       0.00      0.00      0.00        20
        24.0       0.00      0.00      0.00         7
        25.0       0.00      0.00      0.00        12
        26.0       0.00      0.00      0.00        14
        27.0       0.00      0.00      0.00        10
        28.0       0.00      0.00      0.00        14
        29.0       0.00      0.00      0.00        16
        30.0       0.00      0.00      0.00        10
        31.0       0.00      0.00      0.00         5
        32.0       0.00      0.00      0.00         5
        33.0       0.00      0.00      0.00        12
        34.0       0.00      0.00      0.00         8
        35.0       0.00      0.00      0.00         6
        36.0       0.00      0.00      0.00         8
        37.0       0.00      0.00      0.00         9
        38.0       0.00      0.00      0.00         3
        39.0       0.00      0.00      0.00         8
        40.0       0.00      0.00      0.00         5
        41.0       0.00      0.00      0.00         9
        42.0       0.00      0.00      0.00         6
        43.0       0.00      0.00      0.00         4
        44.0       0.00      0.00      0.00         7
        45.0       0.00      0.00      0.00         8
        46.0       0.00      0.00      0.00         5
        47.0       0.00      0.00      0.00         6
        48.0       0.00      0.00      0.00         5
        49.0       0.00      0.00      0.00         5
        50.0       0.00      0.00      0.00         3
        51.0       0.00      0.00      0.00         3
        52.0       0.00      0.00      0.00         6
        53.0       0.00      0.00      0.00         5
        54.0       0.00      0.00      0.00        10
        55.0       0.00      0.00      0.00         7
        56.0       0.00      0.00      0.00         2
        58.0       0.00      0.00      0.00         2
        59.0       0.00      0.00      0.00         2
        60.0       0.00      0.00      0.00         5
        61.0       0.00      0.00      0.00         1
        62.0       0.00      0.00      0.00         2
        63.0       0.00      0.00      0.00         4
        64.0       0.00      0.00      0.00         5
        65.0       0.00      0.00      0.00         6
        66.0       0.00      0.00      0.00         2
        67.0       0.00      0.00      0.00         5
        69.0       0.00      0.00      0.00         1
        70.0       0.00      0.00      0.00         5
        71.0       0.00      0.00      0.00         2
        72.0       0.00      0.00      0.00         7
        73.0       0.00      0.00      0.00         3
        74.0       0.00      0.00      0.00         3
        75.0       0.00      0.00      0.00         2
        76.0       0.00      0.00      0.00         2
        77.0       0.00      0.00      0.00         3
        78.0       0.00      0.00      0.00         4
        79.0       0.00      0.00      0.00         2
        80.0       0.00      0.00      0.00         3
        81.0       0.00      0.00      0.00         4
        82.0       0.00      0.00      0.00         4
        83.0       0.00      0.00      0.00         1
        84.0       0.00      0.00      0.00         1
        85.0       0.00      0.00      0.00         4
        86.0       0.00      0.00      0.00         3
        88.0       0.00      0.00      0.00         1
        89.0       0.00      0.00      0.00         2
        90.0       0.00      0.00      0.00         1
        92.0       0.00      0.00      0.00         2
        93.0       0.00      0.00      0.00         1
        94.0       0.00      0.00      0.00         3
        95.0       0.00      0.00      0.00         1
        96.0       0.00      0.00      0.00         2
        99.0       0.00      0.00      0.00         1
       101.0       0.00      0.00      0.00         1
       102.0       0.00      0.00      0.00         1
       103.0       0.00      0.00      0.00         0
       104.0       0.00      0.00      0.00         1
       105.0       0.00      0.00      0.00         1
       106.0       0.00      0.00      0.00         1
       107.0       0.00      0.00      0.00         7
       108.0       0.00      0.00      0.00         1
       110.0       0.00      0.00      0.00         1
       111.0       0.00      0.00      0.00         1
       112.0       0.00      0.00      0.00         1
       114.0       0.00      0.00      0.00         1
       115.0       0.00      0.00      0.00         1
       116.0       0.00      0.00      0.00         3
       117.0       0.00      0.00      0.00         2
       119.0       0.00      0.00      0.00         1
       121.0       0.00      0.00      0.00         1
       122.0       0.00      0.00      0.00         1
       123.0       0.00      0.00      0.00         1
       125.0       0.00      0.00      0.00         1
       126.0       0.00      0.00      0.00         3
       127.0       0.00      0.00      0.00         2
       129.0       0.00      0.00      0.00         1
       130.0       0.00      0.00      0.00         3
       132.0       0.00      0.00      0.00         1
       133.0       0.00      0.00      0.00         1
       134.0       0.00      0.00      0.00         1
       136.0       0.00      0.00      0.00         0
       141.0       0.00      0.00      0.00         2
       143.0       0.00      0.00      0.00         1
       144.0       0.00      0.00      0.00         1
       146.0       0.00      0.00      0.00         2
       147.0       0.00      0.00      0.00         3
       151.0       0.00      0.00      0.00         2
       152.0       0.00      0.00      0.00         2
       155.0       0.00      0.00      0.00         2
       158.0       0.00      0.00      0.00         1
       160.0       0.00      0.00      0.00         1
       161.0       0.00      0.00      0.00         3
       162.0       0.00      0.00      0.00         3
       163.0       0.00      0.00      0.00         1
       165.0       0.00      0.00      0.00         1
       166.0       0.00      0.00      0.00         1
       167.0       0.00      0.00      0.00         1
       168.0       0.00      0.00      0.00         1
       169.0       0.00      0.00      0.00         1
       173.0       0.00      0.00      0.00         1
       174.0       0.00      0.00      0.00         1
       176.0       0.00      0.00      0.00         2
       180.0       0.00      0.00      0.00         2
       181.0       0.00      0.00      0.00         1
       186.0       0.00      0.00      0.00         1
       187.0       0.00      0.00      0.00         2
       188.0       0.00      0.00      0.00         1
       189.0       0.00      0.00      0.00         1
       191.0       0.00      0.00      0.00         1
       192.0       0.00      0.00      0.00         2
       193.0       0.00      0.00      0.00         0
       195.0       0.00      0.00      0.00         1
       200.0       0.00      0.00      0.00         3
       203.0       0.00      0.00      0.00         2
       209.0       0.00      0.00      0.00         1
       219.0       0.00      0.00      0.00         2
       227.0       0.00      0.00      0.00         1
       228.0       0.00      0.00      0.00         1
       230.0       0.00      0.00      0.00         1
       231.0       0.00      0.00      0.00         1
       232.0       0.00      0.00      0.00         1
       234.0       0.00      0.00      0.00         1
       237.0       0.00      0.00      0.00         1
       242.0       0.00      0.00      0.00         1
       245.0       0.00      0.00      0.00         1
       246.0       0.00      0.00      0.00         1
       249.0       0.00      0.00      0.00         1
       251.0       0.00      0.00      0.00         1
       266.0       0.00      0.00      0.00         1
       267.0       0.00      0.00      0.00         1
       273.0       0.00      0.00      0.00         1
       280.0       0.00      0.00      0.00         1
       286.0       0.00      0.00      0.00         1
       291.0       0.00      0.00      0.00         1
       293.0       0.00      0.00      0.00         1
       296.0       0.00      0.00      0.00         2
       297.0       0.00      0.00      0.00         0
       298.0       0.00      0.00      0.00         1
       299.0       0.00      0.00      0.00         1
       302.0       0.00      0.00      0.00         1
       305.0       0.00      0.00      0.00         1
       307.0       0.00      0.00      0.00         1
       308.0       0.00      0.00      0.00         1
       309.0       0.00      0.00      0.00         1
       311.0       0.00      0.00      0.00         1
       312.0       0.00      0.00      0.00         0
       316.0       0.00      0.00      0.00         1
       319.0       0.00      0.00      0.00         1
       329.0       0.00      0.00      0.00         1
       330.0       0.00      0.00      0.00         1
       331.0       0.00      0.00      0.00         1
       347.0       0.00      0.00      0.00         1
       350.0       0.00      0.00      0.00         1
       357.0       0.00      0.00      0.00         1
       360.0       0.00      0.00      0.00         1
       374.0       0.00      0.00      0.00         1
       376.0       0.00      0.00      0.00         1
       393.0       0.00      0.00      0.00         1
       396.0       0.00      0.00      0.00         1
       415.0       0.00      0.00      0.00         1
       420.0       0.00      0.00      0.00         1
       432.0       0.00      0.00      0.00         1
       442.0       0.00      0.00      0.00         1
       447.0       0.00      0.00      0.00         1
       456.0       0.00      0.00      0.00         1
       464.0       0.00      0.00      0.00         1
       486.0       0.00      0.00      0.00         1
       493.0       0.00      0.00      0.00         1
       507.0       0.00      0.00      0.00         1
       529.0       0.00      0.00      0.00         1
       530.0       0.00      0.00      0.00         1
       537.0       0.00      0.00      0.00         1
       540.0       0.00      0.00      0.00         1
       541.0       0.00      0.00      0.00         1
       562.0       0.00      0.00      0.00         1
       583.0       0.00      0.00      0.00         1
       586.0       0.00      0.00      0.00         1
       593.0       0.00      0.00      0.00         1
       613.0       0.00      0.00      0.00         1
       617.0       0.00      0.00      0.00         1
       732.0       0.00      0.00      0.00         1
       776.0       0.00      0.00      0.00         1
       782.0       0.00      0.00      0.00         1
       836.0       0.00      0.00      0.00         1
       854.0       0.00      0.00      0.00         1
       857.0       0.00      0.00      0.00         1
       859.0       0.00      0.00      0.00         1
       889.0       0.00      0.00      0.00         1
       897.0       0.00      0.00      0.00         1
       904.0       0.00      0.00      0.00         1
       960.0       0.00      0.00      0.00         1
      1037.0       0.00      0.00      0.00         1
      1049.0       0.00      0.00      0.00         1
      1199.0       0.00      0.00      0.00         1
      1286.0       0.00      0.00      0.00         1
      1419.0       0.00      0.00      0.00         1
      1686.0       0.00      0.00      0.00         1
      1742.0       0.00      0.00      0.00         1
      2440.0       0.00      0.00      0.00         1
      2638.0       0.00      0.00      0.00         1
      2850.0       0.00      0.00      0.00         1
      3606.0       0.00      0.00      0.00         1
      3953.0       0.00      0.00      0.00         1
      3990.0       0.00      0.00      0.00         1
      4068.0       0.00      0.00      0.00         1
      5215.0       0.00      0.00      0.00         1
      5886.0       0.00      0.00      0.00         1
     12367.0       0.00      0.00      0.00         1
     13040.0       0.00      0.00      0.00         1

    accuracy                           0.17      1588
   macro avg       0.01      0.01      0.01      1588
weighted avg       0.14      0.17      0.15      1588

In [36]:
from sklearn.model_selection import GridSearchCV
param_grid = {'n_neighbors':np.arange(1,50)}

In [37]:
knn = KNeighborsClassifier()
knn_cv= GridSearchCV(knn,param_grid,cv=5)
knn_cv.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49])})

In [38]:
knn_cv.best_score_

0.17042063004535782

In [39]:
knn_cv.best_params_

{'n_neighbors': 25}